body
.nav a {
  color: #DAA520;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}
.nav li:hover {
    border-radius: 2px solid #00b0ff;
    color: white;    
    background-color:#DAA520;
}
.jumbotron {
  background-image:url('http://fonday.ru/images/tmp/10/0/original/10024079QEAh0B4NU46dY1d1ICzgOf7GeY.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 100px;
}

.jumbotron .container {
  position: relative;
  bottom:10px;
}

.jumbotron h1 {
  color: #FFFACD;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}
.jumbotron a {
    color: #DAA520;
}
.jumbotron p {
  font-size: 20px;
  color: #FFFACD;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}
.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}
.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}
.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}
.learn-more p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
